<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Care Zim - Employee Management</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/toolbar :: toolbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Employees</h1>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Care Zimbabwe Employee Management</h6>


                    </div>
                    <div class="card-body">
                        <div class = "col-md-12">

                            <h2>Add New Employee Record</h2>
                            <form th:action="@{/employees}" th:object="${employee}" method="post">

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputFirstname">First Name</label>
                                        <input type="text" class="form-control" id="inputFirstname" placeholder="Kudakwashe" th:field="*{firstName}" th:value="${employee.firstName}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputLastName">Last Name</label>
                                        <input type="text" class="form-control" id="inputLastName" placeholder="Sengweni" th:field="*{lastName}" th:value="${employee.lastName}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}" th:value="${employee.phoneNumber}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="emailAddress">Employee Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress" placeholder="Email Address" th:field="*{email}" th:value="${employee.email}">
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-3">
                                        <label for="employeeNumber">Employee Number</label>

                                        <input type="text" class="form-control" id="employeeNumber" placeholder="20811" th:field="*{employeeNumber}" th:value="${employee.employeeNumber}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="dateOfBirth">Date of Birth</label>
                                        <input type="date"
                                               class="form-control"
                                               id="dateOfBirth"
                                               placeholder="Phone Number"
                                               th:field="*{dateOfBirth}"
                                               th:value="${employee.dateOfBirth}">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="idNumber">Id Number</label>

                                        <input type="text" class="form-control" id="idNumber" placeholder="63-1775874J27" th:field="*{idNumber}" th:value="${employee.idNumber}">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="gender">Gender</label>

                                        <select class="form-control" id="gender" th:field="*{gender}" >

                                            <option value="FEMALE">FEMALE</option>
                                            <option value="MALE">MALE</option>
                                        </select>
                                    </div>




                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-2">
                                        <label for="department">Department</label>

                                        <select class="form-control" id="department" th:field="*{department}">

                                            <option th:each="project : ${projects}" th:value="${project.projectName}" th:text="${project.projectName}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="position">Job Title </label>


                                        <select class="form-control" id="position" th:field="*{position}">

                                            <option th:each="position : ${positions}" th:value="${position.positionName}" th:text="${position.positionName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="jobGrade">Job Grade </label>

                                        <select class="form-control" id="jobGrade"th:field="*{jobGrade}">

                                            <option th:each="jobGrade : ${jobGrades}" th:value="${jobGrade.jobGrade}" th:text="${jobGrade.jobGrade}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="supervisor">Supervisor </label>

                                        <select class="form-control" id="supervisor" th:field="*{supervisor}">

                                            <option th:each="supervisor : ${supervisors}" th:value="${supervisor.employeeNumber}" th:text="${supervisor.fullName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="isSupervisor">Is Employee A Supervisor ?</label>

                                        <select class="form-control" id="isSupervisor"th:field="*{isSupervisor}">
                                            <option value="FALSE">FALSE</option>
                                            <option value="TRUE">TRUE</option>

                                        </select>
                                    </div> <div class="form-group col-md-2">
                                        <label for="systemRole">System User Level</label>

                                        <select class="form-control" id="systemRole" th:field="*{systemRole}">
                                            <option value="ROLE_GEN">GENERAL USER</option>
                                            <option value="ROLE_HRM">HR MANAGER</option>
                                            <option value="ROLE_ACD">ASST COUNTRY DIRECTOR</option>
                                            <option value="ROLE_CD">COUNTRY DIRECTOR</option>
                                            <option value="ROLE_ADMIN">ADMIN</option>

                                        </select>
                                    </div>

                                </div>


                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <button class="btn btn-primary btn-user btn-block">Create Employee</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>