<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Care Zim - Employee Management</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/toolbar :: toolbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Performance Management</h1>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Care Zimbabwe Employee Performance Management</h6>


                    </div>
                    <div class="card-body">
                        <div class = "col-md-12">

                            <h2>Set Employee Objectives</h2>
                            <form th:action="@{/set-objective}" th:object="${evaluationPeriod}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-12 col-sm-12 col-lg-4">
                                        <label for="vacancy_type">Select Employee:</label>
                                        <select class="form-control" id="vacancy_type" th:field="*{employeeNumber}">

                                            <option th:each="employee : ${employees}" th:value="${employee.employeeNumber}" th:text="${employee.fullName}"></option>

                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-lg-4">
                                        <label for="vacancy_type">Evaluation Year:</label>
                                        <input
                                                class="form-control"
                                                type="number"
                                                min="2022"
                                                max="2099"
                                                th:field="*{year}"
                                                th:value="${evaluationPeriod.year}">

                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-lg-4">
                                        <label for="vacancy_type">Evaluation Months:</label>
                                        <select class="form-control" id="gender" th:field="*{quarter}" >

                                            <option value="JAN-JUNE">JAN-JUNE</option>
                                            <option value="JULY-DEC">JULY-DEC</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <button class="btn btn-primary btn-user btn-block">Set Goals for Selected Employee</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>

            </div>


            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Casuals To Recruit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="casual_name_search" class="col-form-label">Search Casual Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="casual_name_search"
                                       name="casual_name_search"
                                     >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                            <button type="button" onclick="searchForCasual()" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>

                </form>
                    <div class="form-group">
                        <label for="search_results" class="col-form-label">Choose from List </label>
                        <select id="search_results" name="search_results" class="form-control">
                        </select>
                    </div>
                    <button type="button" onclick="addCasualToRecruitment()" class="btn btn-primary">Add Casual to Recruitment</button>

                <ul id="added_casual">

                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close When Done</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>


</script>
</html>