<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"  th:fragment="gen_sidebar" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Care Zimbabwe <sup></sup></div>
    </a>

    <!-- Divider -->+
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">





        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-bullseye"></i>
            <span>Performance Mgt</span>
        </a>
        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/objective-setting">Set Objectives <i class="fas fa-fw  fa-arrow-right"></i> </a>
                <a class="collapse-item" href="/objectives-view">Update Objectives <i class="fas fa-fw  fa-arrow-right"></i> </a>
                <a class="collapse-item" href="/self-employee-review">Self Review <i class="fas fa-fw  fa-arrow-right"></i> </a>

                <a class="collapse-item" href="/supervisor-review-init">Supervisor Review  <i class="fas fa-fw  fa-arrow-right"></i> </a>
            </div>

            <!--  <div th:if="${loggedInUser.role=='ROLE_HRMANAGER'}">SOME TEXT FOR HR MANAGER</div>-->
        </div>


    </li>

    <!-- Nav Item - Utilities Collapse Menu -->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->


    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Nav Item - Charts -->


    <!-- Nav Item - Tables -->


    <!-- Divider -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->

</ul>
</body>
</html>