<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"  th:fragment="sidebar" id="accordionSidebar">

    <!-- Sidebar - Brand -->

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <div th:if="${loggedInUser.role=='ROLE_HRM'}">
         <li th:replace="fragments/hr_side_bar :: hr_side_bar"></li>
    </div>

    <div th:if="${loggedInUser.role=='ROLE_GEN'}">
         <li th:replace="fragments/gen_sidebar :: gen_sidebar"></li>
    </div>

    <div th:if="${loggedInUser.role=='ROLE_BH'}">
         <li th:replace="fragments/bh_side_bar :: bh_side_bar"></li>
    </div>
1/
    <div th:if="${loggedInUser.role=='ROLE_CD'}">
         <li th:replace="fragments/cd_side_bar :: cd_side_bar"></li>
    </div>

    <div th:if="${loggedInUser.role=='ROLE_ADMIN'}">
         <li th:replace="fragments/admin_side_bar :: admin_side_bar"></li>
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->


    <!-- Divider -->
    <hr class="sidebar-divider">


    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->

</ul>
<!-- End of Sidebar -->

</body>
</html>